In [ ]:
import numpy as np
import pandas as pd

## Лабораторная №2: рекомендательные системы

### Что дано?

- Матрица пользователь-продукт
- Элементы матрицы – рейтинги, если есть
- Неполное заполнение

### Датасет Movielens с рейтингами фильмов

In [ ]:
movies = pd.read_csv('movies.gz', index_col='movieid', header=0, encoding='unicode-escape')[['movienm', 'genreid']]
ratings = pd.read_csv('ratings.gz', header=0)

### Пример записей

In [ ]:
movies

                                    movienm                         genreid
movieid
1                          Toy Story (1995)   Animation, Children's, Comedy
2                            Jumanji (1995)  Adventure, Children's, Fantasy
3                   Grumpier Old Men (1995)                 Comedy, Romance
4                  Waiting to Exhale (1995)                   Comedy, Drama
5        Father of the Bride Part II (1995)                          Comedy
...                                     ...                             ...
3948                Meet the Parents (2000)                          Comedy
3949             Requiem for a Dream (2000)                           Drama
3950                       Tigerland (2000)                           Drama
3951                Two Family House (2000)                           Drama
3952                  Contender, The (2000)                 Drama, Thriller

[3706 rows x 2 columns]

In [ ]:
ratings[['userid', 'movieid']].apply(pd.Series.nunique)

userid     6040
movieid    3706
dtype: int64

In [ ]:
ratings

         userid  movieid  rating
0             1     1193       5
1             1      661       3
2             1      914       3
3             1     3408       4
4             1     2355       5
...         ...      ...     ...
1000204    6040     1091       1
1000205    6040     1094       5
1000206    6040      562       5
1000207    6040     1096       4
1000208    6040     1097       4

[1000209 rows x 3 columns]

In [ ]:
movies.head()

                                    movienm                         genreid
movieid
1                          Toy Story (1995)   Animation, Children's, Comedy
2                            Jumanji (1995)  Adventure, Children's, Fantasy
3                   Grumpier Old Men (1995)                 Comedy, Romance
4                  Waiting to Exhale (1995)                   Comedy, Drama
5        Father of the Bride Part II (1995)                          Comedy

#   Название фильма и номер пользователя

In [ ]:
import json
import os
path = './105'
fname = os.path.join(path, 'data_1.json')
with open(fname, 'r') as f:
    data = json.load(f)
print(data)

{'user': 1520, 'movie': 'Bronco Billy (1980)'}

# Задание

1. Для заданного фильма подобрать десять ближайших по значению
корреляции на основе: svd, ssvd, nmf:

  * i.  Создать матрицу рейтингов (Разреженную для ssvd)
  
  * ii. Проделать разложение (Для svd, ssvd построить график убывания сингулярных чисел)
  
  * iii. Вычислить корреляции и выбрать 10 ближайших  
  * iv. Привести список 10 ближайших, написать вывод
  
3. Аналогично проделать для пользователя подобрав ему коллег с похожими интересами. Сравнить методы матричных разложений и сделать вывод.
4. Реализовать ALS алглоритм для
$$
Q = \sum_{i,j}{\left (x_{ij}-(u_i, v_j)\right )}^2 + \color{blue} \alpha \sum_i \|u_i\|^2  + \beta \sum_j \|v_j\|^2,
$$   См. лекцию

  4*. Реализовать  FunkSVD (Использовать стохастический градиентный спуск. Детали см. [тут](https://education.yandex.ru/handbook/ml/article/rekomendacii-na-osnove-matrichnyh-razlozhenij)) для случая, когда матрица рейтингов  имеет вид:
$$
x_{ij}\approx \mu + b^u_t + b^v_j + (u_i, v_j)
$$


 #### Для п.3-4 повторить п.1-2